{% extends "base.html.twig" %}

{% block title %}arme
{% endblock %}



{% block body %}
<h1> Arme : {{arme.name}}</h1>
<div class="row">
    <div>
        <img src="" alt="">
    </div>
    <div class="col">
    <div>{{arme.description}}</div>
    <div>{{arme.damages}}</div>
    </div>
</div>



{% endblock %}